@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald:400");
@fa-font-path :   "/font";
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

body,
html {
  color: #2e3c40;
  margin: 0;
  overflow-x: hidden;
  width: 100vw; }
  body h1,
  html h1 {
    font-family: "Oswald", sans-serif; }
  body h3,
  html h3 {
    font-family: "Oswald", sans-serif;
    color: #ff5c5c;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 4.5rem; }
  body p, body a,
  html p,
  html a {
    font-size: 1.125rem;
    line-height: 2.375rem; }
  body li,
  html li {
    list-style: none; }
  body a,
  html a {
    text-decoration: none;
    font-family: serif;
    color: #ff5c5c; }
    body a:hover,
    html a:hover {
      color: rgba(255, 92, 92, 0.4);
      border-bottom: 1px solid rgba(255, 92, 92, 0.4); }
  body #taglist,
  html #taglist {
    display: flex;
    flex-wrap: wrap;
    margin: 4.5rem 0;
    text-align: left; }
    body #taglist li,
    html #taglist li {
      font-size: 1.25rem;
      margin: 0 .5em; }
      body #taglist li::after,
      html #taglist li::after {
        color: #ff5c5c;
        content: ','; }
      body #taglist li:last-child::before,
      html #taglist li:last-child::before {
        border-bottom: 1px solid #ff5c5c;
        color: #ff5c5c;
        content: 'and ';
        font-family: serif;
        font-size: 2rem;
        line-height: 2.375rem; }
  body .d a,
  html .d a {
    border-bottom: 1px solid #ff5c5c; }
  body .video-img,
  html .video-img {
    margin: 5em 0; }
    body .video-img img,
    html .video-img img {
      max-width: 100%; }
  body .services,
  html .services {
    margin-bottom: 5rem; }
  body li,
  html li {
    padding: 5px 0; }
    body li a,
    html li a {
      border-bottom: 1px solid #ff5c5c;
      font-size: 2rem; }
    body li h4,
    html li h4 {
      font-size: 1rem; }
    body li .left,
    html li .left {
      border-top: 1px solid #ff5c5c;
      padding: 2rem 1rem;
      width: 100vw; }
    body li .right,
    html li .right {
      border-top: 1px solid #ff5c5c;
      padding: 2rem 1rem;
      width: 100vw; }
  body .articles h3,
  html .articles h3 {
    color: #2e3c40;
    margin-bottom: 2rem; }
  body .articles p,
  html .articles p {
    color: #585858;
    font-size: 1rem;
    text-transform: uppercase; }
  body .articles h4,
  html .articles h4 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  body .articles .first-article,
  body .articles .second-article,
  html .articles .first-article,
  html .articles .second-article {
    animation: hoverOut .5s linear 0s; }
  body .articles:hover,
  html .articles:hover {
    animation: hover .5s ease-in forwards;
    transform: translateX(1px); }

@keyframes hover {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(5px); } }

@keyframes hoverOut {
  0% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0px); } }
  body footer .social,
  html footer .social {
    background: #ff5c5c;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
    animation: footerOut .5s linear 0s; }
    body footer .social:hover,
    html footer .social:hover {
      animation: footerHover .5s linear 0s both; }

@keyframes footerHover {
  from {
    border-left: 0px solid white;
    border-right: 0px solid white; }
  to {
    border-left: 10px solid white;
    border-right: 10px solid white; } }

@keyframes footerOut {
  from {
    border-left: 10px solid white;
    border-right: 10px solid white; }
  to {
    border-left: 0px solid white;
    border-right: 0px solid white; } }
    body footer .social h1,
    html footer .social h1 {
      color: #ededed;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      border-bottom: 1px solid #ededed; }
    body footer .social a,
    html footer .social a {
      color: #ededed;
      font-size: 1em;
      text-transform: uppercase;
      border: none; }
      body footer .social a:hover,
      html footer .social a:hover {
        color: rgba(237, 237, 237, 0.45);
        border-bottom: 1px solid rgba(237, 237, 237, 0.45); }

@media screen and (max-width: 420px) {
  .gallery {
    margin: 5rem 0; }
    .gallery .partners_imgs {
      width: 90vw;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-auto-flow: column; }
    .gallery .partners_imgs > * {
      width: 70%;
      align-self: center;
      padding: 1em 0;
      justify-self: center; } }

@media screen and (min-width: 421px) and (max-width: 768px) {
  .main_content {
    padding-top: 5rem; }
    .main_content .main_heading h1 {
      font-size: 4rem; }
  .gallery {
    margin: 5rem 0; }
    .gallery .partners_imgs {
      width: 90vw;
      margin: auto;
      display: grid;
      grid-gap: 1px;
      grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
      grid-auto-rows: repeat(8, 1fr); }
    .gallery .partners_imgs > * {
      width: 60%;
      padding: 1em 0;
      align-self: center;
      justify-self: center; } }

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: auto; }
  .fixedPosition {
    position: fixed; }
  #logo {
    display: none; }
  .burger-nav {
    display: block;
    height: 40px;
    width: 100%;
    background-image: url("/img/code.svg");
    background-repeat: no-repeat;
    background-position: 90%;
    cursor: pointer; }
  .nav_links {
    width: 100%;
    overflow: hidden; }
  .nav_links ul {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    background: #ff5c5c;
    height: 0;
    flex-direction: column; }
    .nav_links ul li {
      text-align: center;
      width: 100%;
      border-bottom: 1px solid rgba(68, 68, 68, 0.1); }
      .nav_links ul li:last-of-type {
        border: none; }
      .nav_links ul li a {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.25em;
        color: #ededed;
        padding: 1em 0;
        display: block;
        margin: 0; }
        .nav_links ul li a:hover {
          color: rgba(88, 88, 88, 0.3); }
  .nav_links ul.open {
    height: 100%;
    position: absolute; }
  .main_content {
    margin: auto; }
    .main_content h1 {
      padding: 4.5rem 0;
      font-size: 3rem;
      text-align: left;
      width: 80%;
      text-transform: uppercase; }
    .main_content .sub_heading {
      font-weight: 100; }
    .main_content #sub_paragraph {
      text-transform: uppercase;
      font-size: 14px;
      margin: 2em 0;
      font-weight: 100; }
  .img-wrapper {
    display: grid;
    margin-bottom: 5rem;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    .img-wrapper .a {
      grid-column: 1/3;
      grid-row: 1; }
      .img-wrapper .a img {
        width: 100vw; }
    .img-wrapper .b {
      grid-column: 1/3; }
      .img-wrapper .b img {
        width: 100vw; }
    .img-wrapper .c {
      grid-column: 1;
      grid-row: 3; }
      .img-wrapper .c img {
        width: 50vw; }
    .img-wrapper .d {
      width: 50vw;
      grid-column: 2/3;
      grid-row: 3;
      text-align: center;
      align-self: center; }
      .img-wrapper .d a {
        font-size: 1.5rem; }
  hr {
    width: 10vw;
    height: 2px;
    background-color: #ff5c5c;
    border: none;
    margin: 3rem 0; } }

@media screen and (min-width: 769px) {
  .container {
    width: 80%;
    margin: auto; }
  hr {
    display: none; }
  .hero_header .nav_links {
    position: fixed;
    overflow: hidden;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    .hero_header .nav_links ul {
      margin-right: 10px; }
      .hero_header .nav_links ul li {
        margin-left: 10px;
        display: inline-block; }
        .hero_header .nav_links ul li a {
          color: #2e3c40;
          border: none;
          font-size: 0.75rem;
          text-transform: uppercase;
          animation: navHoverIn .2s linear both; }
          .hero_header .nav_links ul li a:hover {
            border-bottom: 1px solid rgba(88, 88, 88, 0.5);
            color: rgba(88, 88, 88, 0.5);
            animation: navHoverOut .2s linear both; }
  @keyframes navHoverOut {
    0% {
      border-bottom: 0px solid rgba(88, 88, 88, 0.5); }
    100% {
      border-bottom: 2px solid rgba(88, 88, 88, 0.5); } }
  @keyframes navHoverIn {
    0% {
      border-bottom: 2px solid rgba(88, 88, 88, 0.5); }
    100% {
      border-bottom: 0px solid rgba(88, 88, 88, 0.5); } }
  #logo {
    font-size: .75rem;
    color: rgba(255, 92, 92, 0.8);
    margin-left: 10px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif; }
    #logo:hover {
      border: none; }
  .main_content .header_content {
    display: flex;
    flex-flow: row;
    justify-content: space-between; }
  .main_content h1 {
    font-size: 5rem;
    padding: 7rem 0;
    text-transform: uppercase; }
  .main_content .main_heading {
    width: 40%;
    justify-self: flex-start; }
  .main_content .right {
    width: 50%;
    justify-self: flex-end; }
  .main_content #taglist {
    margin: 2rem 0; }
    .main_content #taglist li {
      margin: 0; }
  .img-wrapper {
    padding: 4.5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "a a b b" "a a b b" "c d b b" "c d b b"; }
    .img-wrapper img {
      max-width: 100%; }
    .img-wrapper .d {
      padding: 20px;
      text-align: center;
      align-self: center; }
      .img-wrapper .d a {
        font-size: 2rem;
        border-bottom: 1px solid #ff5c5c; }
  .a {
    grid-area: a; }
  .b {
    grid-area: b; }
  .c {
    grid-area: c; }
  .d {
    grid-area: d; }
  .midsection {
    margin: 4.5rem 0; }
    .midsection h3 {
      font-size: 2.9rem; }
  .midflex {
    display: flex;
    text-align: left; }
    .midflex .left {
      width: 60%; }
    .midflex .right {
      width: 30%;
      margin: 0 auto; }
  .gallery {
    margin: 5rem auto; }
    .gallery .partners_imgs {
      width: 70vw;
      margin: auto;
      display: grid;
      grid-gap: 1px;
      grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
      grid-auto-rows: repeat(8, 1fr); }
    .gallery .partners_imgs > * {
      width: 80%;
      padding: 2em 0;
      align-self: center;
      justify-self: center; }
  .articles h3 {
    font-size: 3rem; }
  .articles .right {
    border-left: 1px solid #ff5c5c; }
  .articles .first-article, .articles .second-article {
    margin: 4rem; } }
